<%- partial('_pre') %>
<% page.comments = false; %>
<%- js(theme.plugins.jquery) %>
<script src="../js/photos.js"></script>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
    <% if (page.layout == 'photos') { %>
        <article id="photos" class="post article white-box reveal <%- theme.custom_css.body.effect.join(' ') %>">
            <h2><%- page.title %></h2>
            <div class="photos"></div>
            <%- page.content %>
        </article>
    <% } %>
</div>
<%- partial('_partial/side') %>
